.jumbotron{
    background-color: yellow;
    color: black;
}
.btn{
    background-color:rgb(24, 131, 163);
    width: 100%;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}